body {
    background-color: rgb(242, 242, 242);
}

main{
    min-height: 60vh;
}

/* category */
.category-display {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(6, 161, 188);
}

.category-list {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(203, 233, 252);
}

.category-list:hover {
    background-color: rgb(185, 249, 238);
    transition: 0.5s;
}

.active{
    background-color: rgb(185, 203, 249);
}

.pointer {
    cursor: pointer;
}

/* news post */
.post-image {
    object-fit: cover;
    height: 100%;
    padding: 15px;
    border-radius: 20px;
}

.author-img {
    height: 40px;
    border-radius: 50%;
}

/* responsive card for mobile and tab */

@media screen and (max-width:900px) {
    .category-display {
        justify-content:left;
    }
}