body{
    background-color: rgb(242, 242, 242);
}

.category-display{
    display: flex;
    list-style: none;
    justify-content: space-around;
    color: rgb(6, 188, 127);
}

.category-list{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.pointer{
    cursor: pointer;
}
.category-list:hover{
    background-color: rgb(203, 252, 244);
    transition: 0.5s;

}

.post-image{
    object-fit: cover;
    height: 100%;
    padding: 15px;
    border-radius: 20px;
}

.author-img{
    height: 40px;
    border-radius: 50%;
}

.blog-card{
    /* max-width: 1000px; */
}